/* Com o align-self iremos mudar a posição somente de um elemento filho. */

.container {
    display: flex;
    background-color: darkgrey;
    height: 400px;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    align-self: flex-end;
    background-color: blue;
}

.r3 {
    flex-shrink: 0;
    background-color: green;
}

.rect {
    width: 150px;
    height: 100px;
}