/* 
1- Utilizando o grow ou shrink iremos utilizar o flex-box nos elementos filhos e não no pai.
2- Quando utilizamos o flex-shrink, irá receber uma propriedade 0 ou 1, onde 0 o elemento não poderá encolher e 1 o elemento poderá enconher.
3- O padrão ao utilizar o shrink é o 1, por isso que os elementos enconhem quando dimensionamos a tela.
*/

.container {
    display: flex;
    background-color: darkgrey;
    height: 400px;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    flex-shrink: 0;
    background-color: green;
}

.rect {
    width: 150px;
    height: 100px;
}