ul{
    /* list-style-image: url(); */
    list-style-type: square;
    list-style-position: inside;
    margin: 0;
    padding: 10px;
    background-color: red;
}

ol{
    list-style-type: upper-alpha;
    list-style-position: inside;
    margin: 0;
    padding: 10px;
    background-color: blue;
}

li{
    border: 1px solid;
    background-color: yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}