/* Com o flex-flow podemos juntar, as caracteristicas do flex direction e wrap, usando somente uma linha. */

.container {
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    background-color: darkgrey;
    height: 400px;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    width: 150px;
    height: 150px;
}